<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>BiGi Stanza Admin</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style.css" media="all">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
   
</head>
<body class="bg-info" id="<%= (typeof appart == "undefined") ? "" :  appart._id  ;%>">
  <% include ../views/admin/admin-nav.ejs %>
  <div class="container bg-light mt-4" id="formAppart">
    <!-- <div class="row"> -->
        <form action="/api-add-update-appart" method="POST"  id="mainform">
        <!-- chiamare AJAX per fare inserimento nel db, dopo abilitare 
        il bottone immagini -->
        
            <div class="form-row ">
                <div class="form-group col-md-1">
                    <label for="internalName">Id</label>
                    <input type="text" class="form-control" name="internalName" id="internalName" 
                    value="<%= (typeof appart == "undefined") ? "" : appart.internalName  ;%>"  
                    >
  
                  
                </div>
                <div class="form-group col-md-8">
                        <label for="address">Indirizzo</label>
                        <input type="text" class="form-control" name="address" id="address" 
                        value="<%= (typeof appart == "undefined") ? "" : appart.address  ;%>"  
                        >
                </div>
                <div class="form-group col-md-1">
                        <label for="cap">CAP</label>
                        <input type="text" class="form-control" name="cap" id="cap"
                        value="<%= (typeof appart == "undefined") ? "" : appart.cap  ;%>"
                        >
                </div>         
                <div class="form-group col-md-2 mt-auto">
                        
                    <a href="<%= (typeof appart == "undefined") ? "#" : '/admin/imgappart/'+appart._id ;%>" class="btn   btn-secondary d-block d-flex" id="addImg1"><i class="fa fa-images"></i>
                    + IMMAGINI</a>
                </div> 
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                        <label for="floor">Piano</label>
                        <input type="number" class="form-control" name="floor" id="floor"
                        value="<%= (typeof appart == "undefined") ? "" : appart.floor  ;%>"
                        >
                </div>
                <div class="form-group col-md-3">
                        <label for="numRooms">Stanze</label>
                        <input type="number" class="form-control" name="numRooms" id="numRooms" readonly 
                        value="<%= (typeof appart == "undefined") ? "1" : appart.numRooms  ;%>"
                        >
                </div>  
                <div class="form-group col-md-3">
                        <label for="numBathrooms">Bagni</label>
                        <input type="number" class="form-control" name="numBathrooms" id="numBathrooms" 
                        value="<%= (typeof appart == "undefined") ? "" : appart.numBathRooms  ;%>"
                        >
                </div> 
                <div class="form-group col-md-3">
                        <label for="appartsize">Dimensioni(mq)</label>
                        <input type="number" class="form-control" name="appartsize" id="appartsize"
                        value="<%= (typeof appart == "undefined") ? "" : appart.appartSize  ;%>"
                        >
                </div>  
            </div>
            <div class="form-row ">
                <div class="form-group col-md-3">
                        <label for="services">Servizi</label>
                        <select multiple class="form-control" name="services" size="6" id="services" >
                            <!-- <option value=""></option> -->
                            <option <%= !(typeof appart == "undefined") && (appart.services.includes("tv"))  ? "selected":" "%> >tv </option>
                            <option <%= !(typeof appart == "undefined") && appart.services.includes("wi-fi") ? "selected":""%> >wi-fi</option>
                            <option <%= !(typeof appart == "undefined") && appart.services.includes("lavatrice") ? "selected":""%> >lavatrice</option>
                            <option <%= !(typeof appart == "undefined") && appart.services.includes("lavastoviglie") ? "selected":""%> >lavastoviglie</option>
                            <option <%= !(typeof appart == "undefined") && appart.services.includes("parcheggio") ? "selected":""%> >parcheggio</option>
                            <option <%= !(typeof appart == "undefined") && appart.services.includes("clima") ? "selected":""%> >clima</option>
                            <option <%= !(typeof appart == "undefined") && appart.services.includes("mobiliata") ? "selected":""%> >mobiliata</option>
                        </select> 
                </div>
                <div class="form-group col-md-9">
                    <label for="description">Descrizione</label>
                    <textarea name="description" id="description"  class="form-control" rows="4"><%= (typeof appart == "undefined") ? "":appart.description ;%> 
                    </textarea> <!--h-100-->
                </div>
            </div>
            <% if (typeof appart == "undefined") { %>
            <fieldset class="form-group stanze border px-1">
                <div class="form-row">
                    <legend class="col-form-label">STANZA 1
                        <a href="#" class="btn btn-sm btn-secondary addbtn" id="btnStanza1Add"><i class="fa fa-plus"></i></a>
                        <a href="#" class="btn btn-sm btn-secondary removebtn" id="btnStanza1Remove"><i class="fa fa-minus"></i></a>
                    </legend>
                </div>
                    <div class="form-row" >    
                    <div class="form-group col-md-3">
                        <label for="roomsize">Dimensioni(mq)</label>
                        <input type="number" class="form-control" name="roomsize1" id="roomsize">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="price">Prezzo</label>
                        <input type="number" class="form-control" name="price1" id="price">
                    </div>
                   
                    <div class="form-group col-md-4 align-self-center  text-center ">
                        <div class="form-check   ">
                            <!-- offset-md-1 -->
                            <label for="window" class="form-check-label  "> 
                                <input type="radio" class="form-check-input   " id="window" value="finestra" checked name="accesso1">Finestra</label>
                    
                            <label for="balcon" class="form-check-label pl-4 ">
                                <input type="radio" class="form-check-input " id="balcon" value="balcone" name="accesso1">Balcone</label>   
                        </div>
                    </div>
                    <div class="form-group col-md-2   mt-auto "> <!--d-flex-->
                        <label for=""></label>
                            <a href="#1" class="btn  btn-secondary btn-block immaginiroom" id="addImg1"><i class="fa fa-image"></i>
                                + IMMAGINI</a>
                    </div>
                </div>
             </fieldset>
             <%  }; %>
            <% if (!(typeof appart == "undefined")) { %>
                <%   for (stanzaIndex in appart.rooms){ %>
                <% var index = parseInt(stanzaIndex) + 1%>    
                <fieldset class="form-group stanze" >
                        <div class="form-row border align-items-center">
                            <legend class="col-form-label">STANZA <%= index %>
                            <!-- <a href="#" class="btn btn-sm btn-secondary addbtn" id="btnStanza2Add"><i class="fa fa-plus" ></i></a>
                            <a href="#" class="btn btn-sm btn-secondary removebtn" id="btnStanza2Remove"><i class="fa fa-minus" ></i></a> -->
                        </legend>
                        
                            <div class="form-group col-md-3">
                                <label for="roomsize">Dimensioni(mq)</label>
                                <input type="number" class="form-control" name="roomsize<%=index%>" id="roomsize<%=index%>" value=<%=appart.rooms[stanzaIndex].size %> >
                            </div>
                            <div class="form-group col-md-3">
                                <label for="price">Prezzo</label>
                                <input type="number" class="form-control" name="price<%=index%>" id="price<%=index%>" value=<%=appart.rooms[stanzaIndex].price %> >
                            </div>
                            <div class="form-check col-md-3  offset-md-1  ">
                                    <label for="window" class="form-check-label mx-3">
                                    <input type="radio" class="form-check-input " id="window<%=index%>" value="finestra" 
                                    <%= appart.rooms[stanzaIndex].extAccess=="finestra" ? "checked" : " " %> name="accesso<%=index%>">
                                    Finestra</label>
                                    <label for="balcon" class="form-check-label mx-3"> <!-- value="balcone"  -->
                                    <input type="radio" class="form-check-input" id="balcon<%=index%>" value="balcone"
                                    <%= appart.rooms[stanzaIndex].extAccess=="balcone" ? "checked" : " " %>  name="accesso<%=index%>">
                                    Balcone</label>
                            </div>
                            <div class="form-group col-md-2  mt-auto "> 
                                <label for=""></label>
                                    <a href="#2" class="btn  btn-secondary btn-block immaginiroom" id="addImg<%=index%>"><i class="fa fa-image"></i>
                                        + IMMAGINI</a>
                            </div>
                        </div> 
                    </fieldset>
                    <% }; %> 
                <% }; %> 
        
                
            <button id="btninvia" class="btn btn-primary mb-1" type="submit">INVIA</button>
                
            
        </form>
   
</div> <!-- container formAppart-->

<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>

<script>

    $(document).ready(function () {
        if($('body').attr('id') == "" ) {$('#numRooms').val(1);}
        $('#addImg1').on('click',function(event){
            if ($(this).attr('href')=="#") {
                alert("PRIMA DI INSERIRE IMMAGINI \n BISOGNA MEMORIZZARE L'APPARTAMENTO");
            }
            event.preventDefault = false;
        });


        //alert($("body").attr("id"));
        $(document).on('click','.addbtn',function () {
            var temp = '<a href="#" class="btn btn-sm btn-secondary addbtn" id="btnStanza"><i class="fa fa-plus" ></i></a><a href="#" class="btn btn-sm btn-secondary removebtn  pull-right" id="btnStanza1Add"><i class="fa fa-minus pull-right " ></i></a>'
            var nstanze = parseInt($('#numRooms').val());
            if (nstanze==6){
                alert("RAGGIUNTO NUMERO MASSIMO DI STANZE!")
                return false;
            }
            // prepare new line for room    
            var newRoomLine = `<fieldset class="form-group stanze border px-1" >
                                
                                    <div class="form-row">
                                        <legend class="col-form-label">STANZA ${nstanze+1}
                                        <a href="#" class="btn btn-sm btn-secondary addbtn" id="btnStanza${nstanze+1}Add"><i class="fa fa-plus" ></i></a>
                                        <a href="#" class="btn btn-sm btn-secondary removebtn" id="btnStanza${nstanze+1}Remove"><i class="fa fa-minus" ></i></a></legend>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="roomsize">Dimensioni(mq)</label>
                                            <input type="number" class="form-control" name="roomsize${nstanze+1}" id="roomsize${nstanze+1}">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="price">Prezzo</label>
                                            <input type="number" class="form-control" name="price${nstanze+1}" id="price${nstanze+1}">
                                        </div>
                                        <div class="form-group col-md-4 align-self-center  text-center ">
                                            <div class="form-check">
                                                <label for="window" class="form-check-label   "></label>
                                                <input type="radio" class="form-check-input" id="window" value="finestra" checked name="accesso${nstanze+1}">
                                                Finestra</label>
                                                <label for="balcon" class="form-check-label  pl-4 "></label>
                                                <input type="radio" class="form-check-input" id="balcon" value="balcone" name="accesso${nstanze+1}">
                                                Balcone</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2  mt-auto "> <!--d-flex-->
                                            <label for=""></label>
                                                <a href="#${nstanze+1}" class="btn  btn-secondary btn-block immaginiroom" id="addImg1"><i class="fa fa-image"></i>
                                                + IMMAGINI</a>
                                        </div>
                                    </div>
                                 
                            </filedset>`;
            
            // remove button from  current last subform stanze
            $('#btnStanza'+(nstanze)+'Add').remove();
            $('#btnStanza'+(nstanze)+'Remove').remove();

            // add subform stanze and update stanze value                
            $("#mainform").append(newRoomLine);
            $('#numRooms').val(++nstanze);
        
            // move button submit at the end
            $('#btninvia').remove();
            var invia = `<button id="btninvia" class="btn btn-primary mb-2" type="submit">INVIA</button> `;
            $('#mainform').append(invia)          
        });

        $(document).on('click','.removebtn',function () {
            var nstanze = parseInt($('#numRooms').val())-1;
            if (nstanze==0){
                alert("NECESSARIA ALMENO UNA STANZA!")
                return false;
            }
            // prepare html tag for buttons + and -
            var btns = ` <a href="#" class="btn btn-sm btn-secondary addbtn" id="btnStanza${nstanze}Add"><i class="fa fa-plus" ></i></a>
                         <a href="#" class="btn btn-sm btn-secondary removebtn" id="btnStanza${nstanze}Remove"><i class="fa fa-minus" ></i></a>`
            
            // remove button submit and last row
            $('#btninvia').remove();
           
            // remove last form stanze (elem:filedset)            
            $('.form-group.stanze:last').remove();

            $('.fieldset:last').remove();

            // add button + and - to last remaing subform stanze
            $('.form-row .col-form-label:last').append(btns);
            $('#numRooms').val(nstanze);
            
            // add button submit at the end
            var invia = ` <button id="btninvia" class="btn btn-primary mb-2" type="submit">INVIA</button>`;
            $("#mainform").append(invia);
     
        });
        $(document).on('click','.immaginiroom',function () {

            var id = $(this).attr('id');
            alert('#labelImmagini'+id);
         

        });
         $('#1').on('change',function(){
       
                //get the file name
                var idRoom = $(this).attr('id');
                var fileName = $(this).val();
            
                console.log(fileName);
                fileName = fileName.substring(fileName.lastIndexOf("\\") + 1, fileName.length);
                console.log('file info');

                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
                //select the last element inserted
                
                $('#labelImmagini'+idRoom).each(function(){
                    $('#labelImmagini'+idRoom).attr('selected','false');
                });
                $('#labelImmagini'+idRoom).prepend(`<option selected="selected" value="${fileName}">${fileName}</option>`);
                // chiamata ajax per upload immagine
          
            })

    });

    $('form#mainform').submit(function(event){
        event.preventDefault();
        var idappart = $("body").attr("id");
        var url = "/api-add-update-appart";
        var data = $(this).serialize();
        //alert(data);
        console.log("dentro evento di chiamata ajax");
        data += "&appartid="+idappart;
       
        // check if user is going to insert imgs
        // var goToInsertImg = confirm("Vuoi continuare con inserimento immagini?");
        // if (goToInsertImg==true) {  window.open('/admin/imgappart/'+idappart,"_self")};
        
        // if there is an id appart then pass to mode update
        if (idappart != "") { url = url + "/" + idappart ;}
        alert(data);
        // DA RIVEDERE, ABILITARE IMMAGINI SOLO DOPO SUBMIT DATI APPARTAMENTO
        $.ajax({
             dataType: 'JSON',
             data: data, 
             type: 'POST',
             url: url ,
             success: function(dataj,status){
                 // abilitare bottom +IMMAGINI
                 // aggiungere link '/admin/imgappart/'+idappart
                 $("#addImg1").attr('href','/admin/imgappart/'+dataj._id);
                 $('#addImg1').trigger('click');
                 var goToInsertImg = confirm("Vuoi continuare con inserimento immagini?");
                 if (goToInsertImg==true) {  window.open('/admin/imgappart/'+dataj._id,"_self")};
                  
                 alert("DATI MEMORIZZATI");
             },
             error : function(){
                 alert("Si è verificato un errore durante l'invio");
             }
        }); // ajax

    });
</script> 
</body>
</html>