<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BiGi Stanza Home Site</title>
    
    <!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css" media="all">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

</head>
<body data-spy="scroll" data-target="#navbar"> <!-- data-offset="50" -->
  <!-- navigation bar --> 
    <% include ../views/home-nav.ejs %>
  <!-- jumbotron -->  
    <% include ../views/home-jumbotron.ejs %>

<!-- main container -->

    <div class="container-fluid" id="appartamenti">
       <!-- <div class="container container-fluid" id="stanze"> -->
        <% for (indexAppart in appartList) {  %>
        <!-- start list of rooms -->
        
        <div class="row">
            <div class="col-lg-8 d-flex">
                <div id="carouselIndicator<%=indexAppart%>" class="carousel slide border  shadow flex-fill">
                    <ol class="carousel-indicators">

                        <% for (indexImgAppart in appartList[indexAppart].imgAppart) { %>
                            <li data-target="#carouselIndicator<%=indexAppart%>" data-slide-to="<%=indexImgAppart%>"  ></li>
                        <% } %>

                    </ol>                    
                    <div class="carousel-inner" role="listbox">
                        <% for (indexImgAppart in appartList[indexAppart].imgAppart){ %>
                            <% if (indexImgAppart==0){ %>
                                <div class="carousel-item active">
                                    <div class="img">
                                        <img class="d-block img-fluid" src="../img/<%= appartList[indexAppart].imgAppart[indexImgAppart] %>" >
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="carousel-item">
                                    <div class="img">
                                        <img class="d-block img-fluid" src="../img/<%= appartList[indexAppart].imgAppart[indexImgAppart] %>" >
                                    </div>
                                </div>
                            <% } %> <!-- else -->
                        <% } %> <!-- for img appart -->  
                    </div> <!-- carousel-inner -->
                    <a class="carousel-control-prev" href="#carouselIndicator<%=indexAppart%>" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicator<%=indexAppart%>" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div> <!-- carousel -->
             </div> <!--col-lg-8-->

            <div class="col-lg-4 d-flex"> <!-- d-flex -->
                <div class="card  border shadow flex-fill"> <!--flex-fill-->
                    <div class="card-body">       
                    
                        <div id="map-container<%=indexAppart%>" 
                            data-address="<%=appartList[indexAppart].address%> <%=appartList[indexAppart].cap%> Bergamo" class="z-depth-1 map-container embed-responsive embed-responsive-16by9" > <!--style="height: 40%"-->
                        </div>
                        
                            <p class="card-header"> <%= appartList[indexAppart].address %></p>
                            <p class="card-text">
                                <% for (icon of appartList[indexAppart].services){ %>
                                    <p> <img class="icon" src="../img/icon/<%=icon%>.png"><span class="text-center px-4"><%=icon%></span></p>
                                <% } %>
                            </p>
                            <a href="/stanze/<%= appartList[indexAppart]._id %>" class="btn btn-info mt-3">STANZE</a>
                        </div> <!-- card-body -->
                </div> <!-- card -->
            </div> <!-- col-lg-4-->
        </div> <!-- row -->
        
        <!-- end list of rooms -->

  <!--  </div>  appart list container -->

    <div class="container-fluid ">
        <div class="row">
            <div class="col-12 border"> <!-- d-flex -->
                <div class="card flex-fill border shadow mx-n3">
                    <div class="card-body">
                        <p class="card-text">
                            <%= appartList[indexAppart].description %> 
                            <%= indexAppart %>
                            <%= appartList[indexAppart]._id %>
                        </p>
                    </div>
                </div>
                
            </div>
        </div>  <!-- row description -->
   
    </div> <!-- container descr annuncio-->
    <% } %> <!-- main for -->
</div> <!--   appart list container -->


    <h3 class="text-center">Tieniti in Contatto</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 d-none d-md-block">
                <p>via T. Tasso 4</p>
                <p>10300</p>
                <p>Bergamo</p>
            </div>

            <div class="col-12 col-md-8">
                
                <form  class="border" action="/api-insert-info" method="POST" id="contatti" autocomplete="on">
                    <div class="container">
                    <div class="form-group">
                        <label for="nome">Nome (*)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text"  class="form-control" id="nome" name="name" placeholder="Nome">
                        </div>
                    </div>

                    <div class="form-group">
                    <label for="cognome">Cognome (*)</label>
                    <div class="input-group" id="test">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" id="cognome" name="cognome">
                    </div>
                </div>
                   
                <div class="form-group">
                    <label for="email">Email (*)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-at"></i></span>
                        </div>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                </div>    
                
                <div class="input-group inline ">
                    <div class="form-group  flex-fill">
                        <label for="numeroTel">Numero Tel.</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-phone"></i></span>
                            </div>
                            <input type="text" class="form-control" id="numeroTel" name="numeroTel">
                        </div>
                    </div>
                    <div class="form-group  flex-fill">
                        <label for="attività">Attività</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-address-card"></i></span>
                            </div>
                            <input type="text" class="form-control" id="attivita" name="attivita">
                        </div>
                    </div>
                </div> <!--input-group inline -->
                    
                <div class="input-group inline ">
                    <div class="form-group flex-fill">
                        <label for="entrata">Entrata</label>
                        <input type="date" class="form-control" id="entrata" name="entrata">
                    </div>
                    <div class="form-group flex-fill">
                        <label for="uscita" >Uscita</label>
                        <input type="date" class="form-control" id="uscita" name="uscita">
                    </div>
                </div>
                <div class="form-group">
                    <label for="msg">Messaggio</label>
                    <textarea name="msg" class="form-control" id="msg" name="msg" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" >Submit</button>
                </div>
                <small class="text-muted">(*) campi obbligatori</small>
            </div> <!--container form-->
            </form>
            </div>
        </div> <!--row-->
    </div> <!--container-->
<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
<script>
        $(document).ready(function(){
            bgImageTotal= 6;
            randomNumber = Math.floor(Math.random()*(bgImageTotal-1))+1;
            randomNumber = 7;
            imgPath="../img/bg/imgBg"+randomNumber+".jpg";
         //   $('#jumbo1').css('background', ('url("'+imgPath+'")'));
            $('#jumbo1').css('background-size', 'cover');

        });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="./mapGenerator.js"></script>
<script async defer  src="" ></script>   
<script>
    $('form#contatti').submit(function(event){
        event.preventDefault();
        var data = $(this).serialize();
       
        // msg insert into db and email sent to BGStanza email's address        
        $.ajax({
            dataType: 'JSON',
            data: data,
            type: 'POST',
            url: '/api-insert-info',
            success: function(dataj,status){
                 console.log(JSON.stringify(dataj));
                 console.log('status from API: '+status);
                 $('form#contatti').trigger('reset');
                 alert("MESSAGGIO INVIATO!");
            },
            error: function(){
                alert("Si è verificato un errore durante l'invio");
            }
        });
    });

</script>
</body>
</html>