<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BiGi Stanza Home Site</title>
    
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css" media="all">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

</head>
<body data-spy="scroll" data-target="#navbar"> <!-- data-offset="50" -->
  <!-- navigation bar --> 
    <% include ../views/home-nav.ejs %>
  <!-- jumbotron -->  
    <% include ../views/home-jumbotron.ejs %>

<!-- main container -->

    <div class="container-fluid" id="appartamenti">
       <!-- <div class="container container-fluid" id="stanze"> -->
        <% for (indexAppart in appartList) {  %>
        <!-- start list of rooms -->
        
        <div class="row">
            <div class="col-lg-8 d-flex">
                <div id="carouselIndicator<%=indexAppart%>" class="carousel slide border  shadow flex-fill">
                    <ol class="carousel-indicators">

                        <% for (indexImgAppart in appartList[indexAppart].imgAppart) { %>
                            <li data-target="#carouselIndicator<%=indexAppart%>" data-slide-to="<%=indexImgAppart%>"  ></li>
                        <% } %>

                    </ol>                    
                    <div class="carousel-inner" role="listbox">
                        <% for (indexImgAppart in appartList[indexAppart].imgAppart){ %>
                            <% if (indexImgAppart==0){ %>
                                <div class="carousel-item active">
                                    <div class="img">
                                        <img class="d-block img-fluid" src="../img/<%= appartList[indexAppart].imgAppart[indexImgAppart] %>" >
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="carousel-item">
                                    <div class="img">
                                        <img class="d-block img-fluid" src="../img/<%= appartList[indexAppart].imgAppart[indexImgAppart] %>" >
                                    </div>
                                </div>
                            <% } %> <!-- else -->
                        <% } %> <!-- for img appart -->  
                    </div> <!-- carousel-inner -->
                    <a class="carousel-control-prev" href="#carouselIndicator<%=indexAppart%>" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicator<%=indexAppart%>" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div> <!-- carousel -->
             </div> <!--col-lg-8-->

            <div class="col-lg-4 d-flex"> <!-- d-flex -->
                <div class="card  border shadow flex-fill"> <!--flex-fill-->
                    <div class="card-body">       
                    
                        <div id="map-container<%=indexAppart%>" 
                            data-address="<%=appartList[indexAppart].address%> <%=appartList[indexAppart].cap%> Bergamo" class="z-depth-1 map-container embed-responsive embed-responsive-16by9" > <!--style="height: 40%"-->
                        </div>
                        
                            <p class="card-header"> <%= appartList[indexAppart].address %></p>
                            <p class="card-text">
                                <% for (icon of appartList[indexAppart].services){ %>
                                    <p> <img class="icon" src="../img/icon/<%=icon%>.png"><span class="text-center px-4"><%=icon%></span></p>
                                <% } %>
                            </p>
                            <a href="/stanze/<%= appartList[indexAppart]._id %>" class="btn btn-info mt-3">STANZE</a>
                        </div> <!-- card-body -->
                </div> <!-- card -->
            </div> <!-- col-lg-4-->
        </div> <!-- row -->
        
        <!-- end list of rooms -->

  <!--  </div>  appart list container -->

    <div class="container-fluid ">
        <div class="row">
            <div class="col-12 border"> <!-- d-flex -->
                <div class="card flex-fill border shadow mx-n3">
                    <div class="card-body">
                        <p class="card-text">
                            <%= appartList[indexAppart].description %> 
                            <%= indexAppart %>
                            <%= appartList[indexAppart]._id %>
                        </p>
                    </div>
                </div>
                
            </div>
        </div>  <!-- row description -->
   
    </div> <!-- container descr annuncio-->
    <% } %> <!-- main for -->
</div> <!--   appart list container -->


<h3 class="text-center  my-3">Tieniti in Contatto</h3>
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-3 d-none d-md-block"></div>

        <div class="col-12 col-md-6 col-md-offset-3 border">
                
                <form class=" needs-validation mt-3 " novalidate action="/api-insert-info" method="POST" id="contatti"
                    autocomplete="on">
                    <div class="container">
                        <div class="form-row">
                            <div class="input-group inline ">
                                <div class="form-group col-md-6">
                                    <label for="nome">Nome *</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="nome" name="name" placeholder="nome" required>
                                        <div class="invalid-feedback">
                                            campo nome obbligatorio
                                        </div>
                                    </div>
                
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="cognome">Cognome *</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="cognome" name="cognome" placeholder="cognome"
                                            required>
                                        <div class="invalid-feedback">
                                            campo cognome obbligatorio
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="input-group inline ">
                                <div class="form-group col-md-12">
                                    <label for="email">Email *</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-at"></i></span>
                                        </div>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
                                        <div class="invalid-feedback">
                                            formato email non valido
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                <div class="form-row">
                    <div class="input-group inline">
                        <div class="form-group col-md-6">
                            <label for="numeroTel">Numero Tel.</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                </div>
                                <input type="text" class="form-control" id="numeroTel" name="numeroTel" placeholder="telefono">
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label for="attività">Attività</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-address-card"></i></span>
                                </div>
                                <select class="custom-select form-control" id="attività">
                                    <option selected>studente o lavoratore...</option>
                                    <option>Studente</option>
                                    <option>Lavoratore</option>
                                </select>
                            </div>
                
                        </div> <!-- col-6 -->
                    </div> <!-- form row -->
                </div>
                <!--input-group inline -->
                <div class="form-row">
                    <div class="input-group inline ">
                        <div class="form-group col-md-6">
                            <div class="form-group flex-fill">
                                <label for="entrata">Check In</label>
                                <input type="date" class="form-control" id="entrata" name="entrata">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group flex-fill">
                                <label for="uscita">Check Out</label>
                                <input type="date" class="form-control" id="uscita" name="uscita">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="msg">Messaggio</label>
                    <textarea name="msg" class="form-control" id="msg" name="msg" rows="4" placeholder="scrivi qui le tue domande..."></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" >Submit</button>
                </div>
                <small class="text-muted">(*) campi obbligatori</small>
            </div> <!--container form-->
            </form>
            </div>
        </div> <!--row-->
    </div> <!--container-->
    
    <!-- footer -->
    <% include ../views/footer.ejs %>
<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
<script>
        $(document).ready(function(){
            bgImageTotal= 6;
            randomNumber = Math.floor(Math.random()*(bgImageTotal-1))+1;
            randomNumber = 7;
            imgPath="../img/bg/imgBg"+randomNumber+".jpg";
         //   $('#jumbo1').css('background', ('url("'+imgPath+'")'));
            $('#jumbo1').css('background-size', 'cover');

        });
</script>


<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="./mapGenerator.js"></script>
<script async defer  src="https://maps.googleapis.com/maps/api/js?key=**Removed**&callback=initMap" ></script>   
<script>
     
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var form = document.getElementById('contatti');
                    // Loop over them and prevent submission
                   // alert(form.getAttribute('id'));
                    
                    form.addEventListener('submit', function (event) {
                        event.preventDefault();
                        if (form.checkValidity() === false) {
                            form.classList.add('was-validated');
                            event.stopPropagation();
                        } else {
                            event.stopPropagation();
                            callAjax(event);
                        }
                        form.classList.add('was-validated');
                    }, false);
                }, false);
            })();

           function callAjax (event){     
                let data = $('#contatti').serialize();

                // msg insert into db and email sent to BGStanza email's address        
                $.ajax({
                    dataType: 'JSON',
                    data: data,
                    type: 'POST',
                    url: '/api-insert-info',
                    success: function (dataj, status) {

                        $('form#contatti').trigger('reset');
                        $('form#contatti').removeClass('was-validated');  // remove validation msg after submit success
                        alert("MESSAGGIO INVIATO!");
                    },
                    error: function (error) {
                        alert("Si è verificato un errore durante l'invio \n" + error.responseText);
                        $('form#contatti').removeClass('was-validated');

                    }
                });
            } 
 
</script>
</body>
</html>
